.module-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 64px;
    margin-top: 20px;
    .take-exam{
        background-color: #ffc107!important;
        color: #000;
    }
}